<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=|, initial-scale=1.0">
    <title>Conexiones</title>
</head>
<body>
    <h1>Conexiones</h1>
    <table border="1">
        <thead>
            <tr>
                <td>ID</td>
                <td>tipo</td>
            </tr>
        </thead> 
        <tbody>
            {% for conexion in conexiones%}
                <tr>
                    <td>{{conexion.id}}</td>
                    <td>{{conexion.tipo}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>