<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=|, initial-scale=1.0">
    <title>Router</title>
</head>
<body>
    <h1>Router</h1>
    <table border="1">
        <thead>
            <tr>
                <td>Key</td>
                <td>Value</td>
            </tr>
        </thead> 
        <tbody>
            <tr>
                <td>ID:</td>
                <td>{{pc.id}}</td>
            </tr>
            <tr>
                <td>Interfaz ethernet</td>
                <td>{{pc.e}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>