<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=|, initial-scale=1.0">
    <title>Router</title>
</head>
<body>
    <h1>Router</h1>
    <table border="1">
        <thead>
            <tr>
                <td>Key</td>
                <td>Value</td>
            </tr>
        </thead> 
        <tbody>
            <tr>
                <td>ID:</td>
                <td>{{routerid}}</td>
            </tr>
            <tr>
                <td>f0_0</td>
                <td>{{router.f0_0}}</td>
            </tr>
            <tr>
                <td>f1_0</td>
                <td>{{router.f1_0}}</td>
            </tr>
            <tr>
                <td>f1_1</td>
                <td>{{router.f1_1}}</td>
            </tr>
            <tr>
                <td>f2_0</td>
                <td>{{router.f2_0}}</td>
            </tr>
            <tr>
                <td>f2_1</td>
                <td>{{router.f2_1}}</td>
            </tr>
            <tr>
                <td>f3_0</td>
                <td>{{router.f3_0}}</td>
            </tr>
            <tr>
                <td>f3_1</td>
                <td>{{router.f3_1}}</td>
            </tr>
            <tr>
                <td>f4_0</td>
                <td>{{router.f4_0}}</td>
            </tr>
            <tr>
                <td>f4_1</td>
                <td>{{router.f4_1}}</td>
            </tr>
            <tr>
                <td>f5_0</td>
                <td>{{router.f5_0}}</td>
            </tr>
            <tr>
                <td>f5_1</td>
                <td>{{router.f5_1}}</td>
            </tr>
            <tr>
                <td>f6_0</td>
                <td>{{router.f6_0}}</td>
            </tr>
            <tr>
                <td>f6_1</td>
                <td>{{router.f6_1}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>